<mat-toolbar class="toolbar" >
  <button mat-icon-button class="logo-icon" routerLink="/home">
    <mat-icon>
      <img src="/home-page/logo.png" alt="icon"/>
    </mat-icon>
  </button>
  <span class="toolbar-title">Noria Interior</span>
  <span class="spacer"></span>
  <button mat-icon-button class="user-icon" routerLink="/profile">
    <mat-icon>account_circle</mat-icon>
  </button>
</mat-toolbar>
<mat-sidenav-container class="principal-sidenav">
  <mat-sidenav mode="side" opened>
    <mat-list>
      <mat-list-item class="my-list-item" *ngFor="let item of menuItems" [routerLink]="item.route" [ngClass]="{'logout-item': item.label === 'Logout'}">
        <div class="menu-item-content">
        <mat-icon>{{item.icon}}</mat-icon>
        <span>{{item.label}}</span>
        </div>
      </mat-list-item>
    </mat-list>
    <div class="spacer-side"></div>
    <div class="logout-container">
      <button mat-button class="logout-button">
        <mat-icon class="logout-icon">logout</mat-icon>
        <span class="logout-text">Logout</span>
      </button>
    </div>
    <app-footer/>
    </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet/>
  </mat-sidenav-content>
</mat-sidenav-container>
